<h2>Search results for "<%= @query %>":</h2>

<ul class="results">
  <% @titles.each do |movie| %>
    <li>
      <a href="/movies/results/<%= movie['id'] %>">
        <% if movie['poster_path'].present? %>
          <img src="http://image.tmdb.org/t/p/w185<%= movie['poster_path'] %>" alt="<%= movie['original_title'] %>">
        <% end %>
      </a>
    </li>
  <% end %>
</ul>



<%= link_to 'Back', '/movies' %>
