<%= form_for @work do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :year %>
  <%= f.text_field :year %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <select name="work[artist_id]">
    <%= Artist.all.each do |artist| %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>

  <%# select("work", "artist_id", Artist.all.collect { |artist| [artist.name, artist.id] }, { include_blank: false }) %>




  <%= f.submit %>

<% end %>
