<h1>
  <%= @work.title %>
</h1>

<%= link_to 'Edit Work', edit_work_path(@work.id) %>

<%= link_to 'Delete Work', work_path(@work.id), method: 'delete' %>

<br>
<p><strong>Title</strong>: <%= @work.title %></p>
<p><strong>Year</strong>: <%= @work.year %></p>
<p><strong>Medium</strong>: <%= @work.medium %></p>
<p><strong>Style</strong>: <%= @work.style %></p>
<p><strong>Artist</strong>:
  <a href="<%= artist_path(@work.artist.id) %>">
    <%= @work.artist.name %>
  </a>
</p>

<% if @work.image.present? %>
  <%= image_tag @work.image, alt: @work.title %>
<% end %>
